<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{main-layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="main-body">
<nav th:replace="~{main-layout :: navigation}"></nav>
<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

<main>
    <div class="grid-container">
        <form th:action="@{/author/index}" method="get" class="filter">
            <input type="text" name="fullName" placeholder="Author's full name.." th:value="${fullName}">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/author/upsert-form}" class="blue-button create-button">Insert New Author</a>
        <div class="field-validation-error" th:if="${ERROR}" th:text="${ERROR}"></div>
        <div class="field-validation-success" th:if="${SUCCESS}" th:text="${SUCCESS}"></div>

        <table>
            <tbody>
            <tr>
                <th>Action</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Status</th>
                <th>Education</th>
            </tr>
            <tr th:each="author : ${authors}">
                <td>
                    <a th:href="@{/author/books(id = ${author.id})}" class="blue-button update-button">Books</a>
                    <a th:href="@{/author/upsert-form(id = ${author.id})}" class="blue-button">Edit</a>
                    <a th:href="@{/author/delete(id = ${author.id})}" class="blue-button">Delete</a>
                </td>
                <td th:text="${author.fullName}"></td>
                <td th:text="${author.age}"></td>
                <td th:text="${author.status}"></td>
                <td th:text="${author.education}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|Page ${page} of ${totalPage}|"></div>
                        <div>
                            <a th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                               th:href="@{/author/index(page=${pageLoop}, id=${id}, fullName=${fullName}, id=${id})}"
                               th:text="${pageLoop}">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{main-layout :: footer}"></footer>
<th:block th:replace="~{main-layout :: javascript}"></th:block>
</body>
</html>