<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{main-layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="main-body">

    <nav th:replace="~{main-layout :: navigation}"></nav>
    <header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

    <main>
        <div class="grid-container">
            <form action="" method="get" class="filter">
                <input type="text" name="bookTitle" placeholder="Book title..." th:value="${bookTitle}">
                <input type="text" name="authorName" placeholder="Author's name..." th:value="${authorName}">
                <button type="submit" class="blue-button">Search</button>
            </form>

            <a th:href="@{/category/books/upsert-form(categoryName=${categoryName})}"
               class="blue-button create-button">Insert New Book</a>

            <table>
                <tbody>
                    <tr>
                        <th>Action</th>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Is Borrowed</th>
                        <th>Release Date</th>
                        <th>Total Page</th>
                    </tr>
                    <tr th:each="book : ${categoryBooks}">
                        <td>
                            <a th:href="@{/category/books/upsert-form(categoryName = ${categoryName})}"
                               class="blue-button">Books</a>
                            <a href="" class="blue-button">Edit</a>
                            <a href="" class="blue-button">Delete</a>
                        </td>
                        <td th:text="${book.bookTitle}"></td>
                        <td th:text="${book.authorName}"></td>
                        <td th:text="${book.isBorrowed}"></td>
                        <td th:text="${book.releaseDate}"></td>
                        <td th:text="${book.totalPage}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pagination">
                                <div th:text="|Page ${page} of ${totalPage}|"></div>
                                <div>
                                    <a th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                       th:href="@{/category/books(page=${pageLoop})}"
                                       th:text="${pageLoop}">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <footer th:replace="~{main-layout :: footer}"></footer>
    <th:block th:replace="~{main-layout :: javascript}"></th:block>

</body>
</html>